.projects-about {
  padding: 70px 0 0;
  position: relative;
}
.about-discription {
  margin-bottom: 2rem;
  p {
    font-size: 14px;
  }
}
.about-content {
  margin-top: 70px;
  .about-block {
    background-color: #092644;
    .about-left-block {
      color: #fff;
      padding: 89px 1rem 111px 5rem;
      p {
        font-size: 14px;
        margin-top: 37px;
        font-weight: 100;
        line-height: 24px;
      }
      b {
        font-weight: bold !important;
      }
      button {
        margin-top: 2rem;
      }
    }
    .about-right-block {
      background-image: url(../images/name-project-bg.png);
      background-color: rgba(9, 38, 68, 0.5);
      padding-top: 70px;
      background-position-x: right;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      background-blend-mode: overlay;
      text-align: center;
      padding-bottom: 5rem;
      .about-right-head {
        width: 100%;
        justify-content: center;
        .about-right-content {
          width: 200px;
          margin-bottom: 40px;
          h5 {
            color: #fff;
            white-space: pre-line;
            margin-top: 45px;
          }
          img {
            width: 85px;
            height: 85px;
          }
        }
      }
      .btn-service {
        margin-top: 68px !important;
      }
    }
  }
}

.companies-portfolio {
  padding: 100px 0 90px;
  position: relative;
  .about-bg{
    position: absolute;
    background-image: url(../images/combined-shape-1.png);
    width: 80px;
    height: 140px;
    right: 0;
    top: 40%;
    background-size: contain;
  }
  &::after {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    background-image: url(../images/combined-shape.png);
    background-size: cover;
    left: 5%;
    top: 0;
  }
  &::before {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    background-image: url(../images/combined-shape.png);
    background-size: cover;
    right: 20%;
    top: -3rem;
  }
  .portfolio-content {
    padding-top: 60px;
    .companies-logo {
      img {
        width: auto;
        margin: 0px 0 20px;
      }
      .logo {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
    .portfolio-text {
      font-size: 14px;
      padding-left: 50px;
      p{
        margin-bottom: 0 !important;
      }
    }
  }
}
.major-companies {
  background-image: url(../images/our-service-bg.png);
  padding: 100px 0 90px;
  background-color: #f7f7f9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  position: relative;
  text-align: center;
  .btn-service {
    margin-top: 60px;
  }
}
.blue-logo {
  margin-bottom: 15px;
  img{
    width: 150px;
    height: 150px;
    transition: all .5s ease;
    &:hover{
      transform: scale(1.1);
    }
  }
  .blue-img {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d4c91;
    border-radius: 50%;
    margin: 0 auto 22px;
  }
  h5{
    margin-top: 22px;
  }
}
.vacancies{
  padding: 110px 0 90px 0;
  position: relative;
  .vacancies-left{
    position: absolute;
    top: 45%;
    left: -3rem;
    z-index: 99;
  }
  .vacancies-right{
    position: absolute;
    top: 45%;
    right: -3rem;
    z-index: 99;
  }
  .btn{
    margin-top: 1rem;
  }
}
.textHide{
  min-height: 25px;
  margin-bottom: .5rem;
}
