.contacts-page{
    padding-top: 80px;
    .contacts-content{
        font-size: 20px;
        line-height: 32px;
        padding-bottom: 45px;
        .btn-service{
            margin:2rem 0 35px;
            img{
                margin-right: .5rem;
            }
        }
        .social-contact{
            .social-icon{
                a{
                    transition: all .5s ease;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                img{
                    margin-right: 1rem;
                    width: 40px;
                }
            }
        }
    }
}