body{
  padding: 0 !important;
}

.main-block {
  position: absolute;
  padding-top: 23px;
  z-index: 555;
  width: 100%;
}
.lang {
  align-items: center;
  .lang-active {
    background-color: #001143;
    border: none;
  }
  a {
    color: #a1ceff;
    line-height: 14px;
    border: 5px solid #084073;
    padding: 6px 6px;
    border-radius: 50%;
    background-color: #006db3;
    transition: all 0.3s ease;
    margin-right: 10px;
    display: flex;
    align-items: center;
    &:hover {
      transform: scale(1.1);
      text-decoration: none;
    }
    &:first-child {
      margin-left: 14px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
// about-main
.about-main {
  padding: 80px 0 80px;
  position: relative;
  &::before{
    content: '';
    width: 150px;
    height: 150px;
    position: absolute;
    background-image: url(../images/combined-shape.png);
    background-size: cover;
    left: 0;
    top: 30%;
  }
  &::after{
    content: '';
    width: 150px;
    height: 150px;
    position: absolute;
    background-image: url(../images/combined-shape.png);
    background-size: cover;
    right: 5%;
    bottom: 15%;
  }
  .about-bg{
    position: absolute;
    background-image: url(../images/combined-shape-1.png);
    width: 80px;
    height: 140px;
    right: 0;
    background-size: contain;
}
  .about-text {
    margin-bottom: 50px;
  }
  .about-content {
    .about-right {
      text-align: left;
      .right-text {
        position: relative;
      }
    }
    .about-left {
      text-align: right;
      .date {
      }
      .left-text {
        position: relative;
      }
    }
  }
}
.line {
  position: relative;
  &::before {
    content: "";
    background-image: url(../images/oval.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position-x: left;
    position: absolute;
    top: 0.3rem;
    left: 42%;
  }
  &::after {
    content: "";
    width: 3.5px;
    height: 75%;
    position: absolute;
    background-color: #c02111;
    bottom: 8px;
  }
}
.line-right {
  position: relative;
  &::before {
    content: "";
    background-image: url(../images/oval.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position-x: left;
    position: absolute;
    top: 0.3rem;
    left: 42%;
  }
  &::after {
    content: "";
    width: 3.5px;
    height: 75%;
    position: absolute;
    background-color: #c02111;
    bottom: 7px;
  }
}
.end-line {
  position: relative;
  &::before {
    content: "";
    background-image: url(../images/oval.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position-x: left;
    position: absolute;
    top: 0.3rem;
    left: 42%;
  }
  &::after {
    content: "";
    background-image: url(../images/end-line.png);
    width: 3.5px;
    height: 80%;
    position: absolute;
    bottom: 0;
    background-size: cover;
  }
}
// about-main-end

// OUR-SERVICE
.our-service {
  padding: 110px 0 100px;
  background-image: url(../images/our-service-bg.png);
  background-position-x: center;
  background-color: #f7f7f9;
  background-repeat: no-repeat;
  background-size: cover;
  .our-card {
    text-align: center;
    margin-bottom: 2rem;
    img {
      max-width: 150px;
      margin-bottom: 22px;
      transition: all .5s ease;
      &:hover{
        transform: scale(1.1);
      }
    }
    .b-text {
      font-size: 20px;
      padding: 22px 4rem 1rem;
    }
  }
  .btn-service {
    margin-top: 50px;
  }
}

// OUR-SERVICE-END

// LAST-PROJECTS
.last-project {
  padding: 100px 0 53px;
}

// LAST-PROJECTS-END

// PROJECT-NAME
.project-name {
  position: relative;
  background-image: url(../images/name-project-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  .item {
    padding: 30px 0 21px;
  }
  .project-name-item {
    background: rgba(0, 13, 54, 0.8);
    padding: 40px 60px 70px 130px;
    color: #fff;
    p {
      font-size: 14px;
    }
    span {
      background-color: #fff;
      border-radius: 50%;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 23px 0 14px 10px;
      img {
        width: 21px;
      }
    }
  }
  .arrow-left {
    position: absolute;
    left: 3%;
    top: 50%;
    z-index: 10;
  }
  .arrow-right {
    position: absolute;
    right: 3%;
    top: 50%;
    z-index: 10;
  }
}

// PROJECT-NAME-End

// CLIENTS
.clients {
  padding: 180px 0 90px;
  background-image: url(../images/our-service-bg.png);
  background-color: #f7f7f9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  position: relative;
  .clients-left {
    position: absolute;
    left: 3%;
    top: 60%;
    z-index: 10;
  }
  .clients-right {
    position: absolute;
    right: 3%;
    top: 60%;
    z-index: 10;
  }
  .clients-slider {
    .item {
      .clients-card {
        background-color: #fff;
        margin: 5px 0;
        border-radius: 8px;
        padding: 36px 30px;
        font-size: 14px;
        box-shadow: 0 0 5px 0 rgba(176, 184, 185, 0.5);
        transition: all .5s ease;
        .clients-img {
          min-height: 6rem;
          img {
            width: 100%;
            margin: 0 auto;
          }
        }
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
}

// CLIENTS-END

.contacts {
  background-color: #0d4c91;
  .map {
    height: 100%;
  }
  .contacts-content {
    padding: 72px 150px 72px 110px;
    .title {
      color: #fff;
      margin: 0;
    }
    label {
      display: block;
      color: #fff;
    }
    input {
      width: 100%;
      border-radius: 1rem;
      padding-left: 12px;
      margin-bottom: 19px;
      &:focus {
        color: #000;
        outline: none;
        &::placeholder {
          color: #000;
        }
      }
    }
    textarea {
      width: 100%;
      border-radius: 1rem;
      padding-left: 12px;
      &:focus {
        color: #000;
        outline: none;
        &::placeholder {
          color: #000;
        }
      }
    }
  }
}
.swal2-icon.swal2-success{
  background-color: #dc3545 !important;
}
.swal2-success-ring{
  border-color: #dc3545 !important;
}
.swal2-success-line{
  background-color: red !important;
}
.swal2-success-line-long{
  background-color: #dc3545 !important;
}
.swal2-success-line-tip{
  background-color: #dc3545 !important;
}