.projects {
  padding-bottom: 42px;
  .title{
    padding-bottom: 0 !important;
  }
}
.univer-block {
  background-color: #092644;
  .univer-left-block {
    color: #fff;
    padding: 89px 7rem 111px 100px;
    p {
      font-size: 14px;
      margin-top: 37px;
    }
    b{
      font-weight: bold !important;
    }
    .btn-service {
      margin-top: 2rem;
    }
  }
  .univer-right-block {
    background-image: url("../images/univer-right.jpg");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .univer-right-head {
      width: 70%;
      .univer-right-content {
        margin-bottom: 40px;
        &:last-child{
          margin-bottom: 0 !important;
        }
        h5 {
          color: #fff;
          white-space: pre-line;
        }
        img {
          margin-right: 3rem;
          width: 85px;
        }
      }
    }
  }
}

.ministr-block {
  background-color: #f7f7f9;
  margin: 60px 0;
  .ministr-right-block {
    color: #042548;
    padding: 89px 7rem 111px 100px;
    p {
      font-size: 14px;
      margin-top: 37px;
    }
    button {
      margin-top: 2rem;
    }
  }
  .ministr-left-block {
    background-image: url("../images/ministr.png");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .ministr-left-head {
      width: 70%;
      .ministr-left-content {
        margin-bottom: 40px;
        &:last-child{
          margin-bottom: 0 !important;
        }
        h5 {
          color: #fff;
          white-space: pre-line;
        }
        img {
          margin-right: 3rem;
          width: 85px;
        }
      }
    }
  }
}
