.title {
  padding-bottom: 52px;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  &:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    top: -1rem;
    background-color: #c02111;
  }
}
html .title {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  &:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    left: 48.5%;
    text-align: center;
    top: -1rem;
    background-color: #c02111;
  }
} 
.date {
  color: #c02111;
}
.title-portfolio {
  text-align: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 10px;
    background-color: #c02111;
    top: -2rem;
  }
  &::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    background-color: #c02111;
    top: -1rem;
  }
}
html .title-portfolio  {
  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 10px;
    background-color: #c02111;
    top: -2rem;
    left: 49%;
  }
  &::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    background-color: #c02111;
    top: -1rem;
    left: 49%;
  }
} 